.removeRole{
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(255, 168, 168);
  margin-bottom: 5px;
}
.roleEdit,.newRole {
  border-radius: 5px;
  padding: 5px;
}
.popup-container .webix_view{
  overflow-y: scroll;
}
.addnewRole{
  cursor: pointer;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  background-color: rgb(192, 255, 187);
  margin-bottom: 5px;
  margin-top: 5px;
}
.saveRoles {
  cursor: pointer;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  background-color: rgb(162, 192, 255);
  margin-bottom: 5px;
  margin-top: 5px;
}
.addEmpDetails button{
  background-color: #058c05 !important;
  color: white !important;
}
.removeEmpDetails button{
  background-color: #da2626 !important;
  color: white !important;
}
.clearForm button{
  background-color: #8c8383 !important;
  color: white !important;
}
.configureRoles button{
  background-color: #ef9a00 !important;
  color: white !important;
}